<p-dialog header="Header" [modal]="true" [draggable]="false" [(visible)]="visible">
    <ng-template pTemplate="header" class="pb-0">
       <h2 class="m-0 talk-title flex justify-content-begin align-items-center"><i class="pi pi-megaphone mr-2" style="font-size: 2.5rem;"></i>{{ 'demo.lets-talk' | translate }}</h2>
    </ng-template>
    <div>
        <h3 class="subtitle flex p-0"><i class="flex align-items-center mr-2 pi pi-angle-double-right"></i>{{ 'demo.contact-means' | translate | uppercase }}</h3>
        <div class="text flex align-items-center"><i class="pi pi-envelope mr-2"></i>{{ mail }}</div>
        <div class="text flex align-items-center"><i class="pi pi-linkedin mr-2"></i><a href=""> Alexander Fernandez </a> </div>
    </div>
</p-dialog>