.background{
    width: auto;
    height: auto;
    background-image:linear-gradient(to right, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 50%,
    #2196F3 0%,  rgb(36, 56, 146) 100%);
    border-radius: 100%;
  }