@media only screen and (min-width: 320px) and (max-width: 480px) {
    #mobile { display: grid; }  /* show it on small screens */
    #laptop { display: none; }   /* hide it elsewhere */
    #tablet { display: none; }

    .main-image{
        border-radius: 100%;
        width: 100%;
        max-width: 380px;
        height: auto;
        filter: drop-shadow(0 1px 8px rgba(0, 0, 0, 0.7));
    }

    .background-div{
        width: auto;
        height: auto;
        background-image:linear-gradient(to left, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 70%,
        #2196F3 0%,  rgb(36, 56, 146) 100%);
        border-radius: 100%;
    }
}

@media only screen and (max-width: 425px) {
    #mobile { display: grid; }  /* show it on small screens */
    #laptop { display: none; }   /* hide it elsewhere */
    #tablet { display: none; }

    .main-image{
        border-radius: 100%;
        width: 100%;
        max-width: 380px;
        height: auto;
        filter: drop-shadow(0 1px 8px rgba(0, 0, 0, 0.7));
    }

    .background-div{
        width: auto;
        height: auto;
        background-image:linear-gradient(to left, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 70%,
        #2196F3 0%,  rgb(36, 56, 146) 100%);
        border-radius: 100%;
    }
}

@media only screen and (min-width: 426px) and (max-width: 768px) {
    #mobile { display: none; }  /* show it on small screens */
    #laptop { display: none; }   /* hide it elsewhere */
    #tablet { display: grid; }

    .main-image{
        border-radius: 100%;
        width: 100%;
        max-width: 150px;
        height: auto;
        filter: drop-shadow(0 1px 8px rgba(0, 0, 0, 0.7));
    }

    .background-div{
        width: auto;
        height: auto;
        background-image:linear-gradient(to left, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 50%,
        #2196F3 0%,  rgb(36, 56, 146) 100%);
        border-radius: 100%;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    #mobile { display: none; }  /* show it on small screens */
    #laptop { display: grid; }   /* hide it elsewhere */
    #tablet { display: none; }

    .main-image{
        border-radius: 100%;
        width: 100%;
        max-width: 580px;
        height: auto;
        filter: drop-shadow(0 1px 8px rgba(0, 0, 0, 0.7));
    }
}

@media only screen and (min-width: 1025px) and (max-width: 1200px) {
    #mobile { display: none; }  /* show it on small screens */
    #laptop { display: grid; }   /* hide it elsewhere */
    #tablet { display: none; }

    .main-image{
        border-radius: 100%;
        width: 100%;
        max-width: 580px;
        height: auto;
        filter: drop-shadow(0 1px 8px rgba(0, 0, 0, 0.7));
    }
}

@media only screen and (min-width: 1201px) {
    #mobile { display: none; }  /* show it on small screens */
    #laptop { display: grid; }   /* hide it elsewhere */
    #tablet { display: none; }

    .main-image{
        border-radius: 100%;
        width: 100%;
        max-width: 580px;
        height: auto;
        filter: drop-shadow(0 1px 8px rgba(0, 0, 0, 0.7));
    }
}

.main-image:hover {
    transform: scale(1.05);
}


