/* You can add global styles to this file, and also import other style files */
.title {
    font-size: 3rem;
    color: #1565c0;
}

.subtitle {
    color: #2196F3;
}

.text {
    color: rgb(110, 110, 110);
}
