<p-dialog header="Header" [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [maximizable]="true" [modal]="true" [draggable]="false" [(visible)]="visible">
    <ng-template pTemplate="header" class="pb-0">
        <div> 
            <h2 class="m-0 mb-4 talk-title flex justify-content-begin align-items-center"><i class="pi pi-file mr-2" style="font-size: 2.5rem;"></i>{{ 'demo.resume' | translate }}</h2>
            <p-button (onClick)="getCV()" icon="pi pi-download" [label]="'demo.download-cv' | translate"  class="flex justify-content-end transition m-0"></p-button>
        </div>
    </ng-template>
    <div>
        
        <h3 class="subtitle flex p-0"><i class="flex align-items-center mr-2 pi pi-angle-double-right"></i> {{ 'demo.front-dev' | translate | uppercase }}</h3>
        <div>
            <h4 class="flex ml-2 pl-2"><i class="flex align-items-center mr-2 pi pi-desktop"></i>{{ 'demo.swf' | translate }}</h4>
            <div>
                <ul>
                    <li>{{ 'demo.angular' | translate }}</li>
                    <li>{{ 'demo.mulesoft-api-development' | translate}}</li>
                    <li>{{ 'demo.space1' | translate }}</li>
                    <li>{{ 'demo.toughtspot' | translate  }}</li>
                </ul>
            </div>
            <h4 class="flex ml-2 pl-2"><i class="flex align-items-center mr-2 pi pi-desktop"></i>{{ 'demo.packages-administration-system' | translate }}</h4>
            <div>
                <ul>
                    <li>{{ 'demo.angular' | translate }}</li>
                    <li>{{ 'demo.mulesoft-api-development' | translate}}</li>
                </ul>
            </div>
            <h4 class="flex ml-2 pl-2"><i class="flex align-items-center mr-2 pi pi-desktop"></i>{{ 'demo.ionic-app-for-workers' | translate }}</h4>
            <div>
                <ul>
                    <li>{{ 'demo.ionic6' | translate }}</li>
                    <li>{{ 'demo.firebase-as-back-and-auth' | translate }}</li>
                </ul>
            </div>
        </div>
        <h3 class="subtitle flex p-0"><i class="flex align-items-center mr-2 pi pi-angle-double-right"></i>{{ 'demo.mulesoft-dev' | translate | uppercase }}</h3>
        <div>
            <h4 class="flex ml-2 pl-2"><i class="flex align-items-center mr-2 pi pi-cog"></i>{{ 'demo.megacable-app' | translate }}</h4>
            <div>
                <ul>
                    <li>{{ 'demo.mulesoft-as-bus' | translate }}</li>
                    <li>{{ 'demo.sf-integrations' | translate }}</li>
                    <li>{{ 'demo.privacy-polytics-handling' | translate }}</li>
                </ul>
            </div>
            <h4 class="flex ml-2 pl-2"><i class="flex align-items-center mr-2 pi pi-cog"></i>{{ 'demo.brenntag-app' | translate }}</h4>
            <div>
                <ul>
                    <li>{{ 'demo.mulesoft-as-bus' | translate }}</li>
                    <li>{{ 'demo.aws-integrations' | translate }}</li>
                    <li>{{ 'demo.sf-integrations' | translate }}</li>
                    <li>{{ 'demo.kafka-integrations' | translate }}</li>
                    <li>{{ 'demo.grafana-loki' | translate }}</li>
                    <li>{{ 'demo.api-led' | translate }}</li>
                    <li>{{ 'demo.cicd-participation' | translate }}</li>
                    <li>{{ 'demo.privacy-polytics-handling' | translate }}</li>
                </ul>
            </div>
        </div>
        <h3 class="subtitle flex p-0"><i class="flex align-items-center mr-2 pi pi-angle-double-right"></i>{{ 'demo.personal-projects' | translate | uppercase }}</h3>
        
        <h3 class="subtitle flex p-0"><i class="flex align-items-center mr-2 pi pi-angle-double-right"></i>{{ 'demo.certifications' | translate | uppercase }}</h3>
        <div class="ml-2 pl-2">
            <h4 class="flex mb-0 pb-0"><i class="flex align-items-center mr-2 pi pi-book"></i> {{ 'demo.university' | translate | uppercase }}</h4>
            <div class="ml-2 pl-2">{{ 'demo.degree-title' | translate }}</div>
            <h4 class="flex mb-0 pb-0"><i class="flex align-items-center mr-2 pi pi-book"></i>{{ 'demo.aws-sa-cert-title' | translate | uppercase}}</h4>
            <div class="ml-2 pl-2">{{ 'demo.aws-sa-cert' | translate }}</div>
            <h4 class="flex mb-0 pb-0"><i class="flex align-items-center mr-2 pi pi-book"></i>{{ 'demo.aws-cp-cert-title' | translate | uppercase }}</h4>
            <div class="ml-2 pl-2">{{ 'demo.aws-cp-cert' | translate }}</div>
            <h4 class="flex mb-0 pb-0"><i class="flex align-items-center mr-2 pi pi-book"></i>{{ 'demo.mule-cert-title' | translate | uppercase }}</h4>
            <div class="ml-2 pl-2">{{ 'demo.mule-cert' | translate }}</div>
            <h4 class="flex mb-0 pb-0"><i class="flex align-items-center mr-2 pi pi-book"></i>{{ 'demo.udemy-js-title' | translate | uppercase }}</h4>
            <div class="ml-2 pl-2">{{ 'demo.udemy-js' | translate }}</div>
            <h4 class="flex mb-0 pb-0"><i class="flex align-items-center mr-2 pi pi-book"></i>{{ 'demo.udemy-ionic-title' | translate | uppercase }}</h4>
            <div class="ml-2 pl-2 mb-2">{{ 'demo.udemy-ionic' | translate }}</div> 
        </div>
    </div>
</p-dialog>