<p-dialog header="Header" [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [maximizable]="true" [modal]="true" [draggable]="false" [(visible)]="visible">
    <ng-template pTemplate="header" class="pb-0">
        <div> 
            <h2 class="m-0 mb-4 talk-title flex justify-content-begin align-items-center"><i class="pi pi-file mr-2" style="font-size: 2.5rem;"></i>{{ 'demo.resume' | translate }}</h2>
            <p-button (onClick)="getCV()" icon="pi pi-download" [label]="'demo.download-cv' | translate"  class="flex justify-content-end transition m-0"></p-button>
        </div>
    </ng-template>
    <div>
        
        <h3 class="subtitle flex p-0"><i class="flex align-items-center mr-2 pi pi-angle-double-right"></i> {{ 'demo.front-dev' | translate | uppercase }}</h3>
        <div>
            <h4 class="flex ml-2 pl-2"><i class="flex align-items-center mr-2 pi pi-desktop"></i>Sistema de gestion de visitas de franquicias para Empresas Polar</h4>
            <div>
                <ul>
                    <li>Angular</li>
                    <li>Mulesoft para el desarrollo de APIs</li>
                    <li>SPACE1 como herramienta de colaboración extendida</li>
                    <li>ThoughtSpot para la visualización de métricas</li>
                </ul>
            </div>
            <h4 class="flex ml-2 pl-2"><i class="flex align-items-center mr-2 pi pi-desktop"></i>Sistema de gestion de pedidos y envios para empresas de distribución de productos en Venezuela</h4>
            <div>
                <ul>
                    <li>Angular</li>
                    <li>Mulesoft para el desarrollo de APIs</li>
                </ul>
            </div>
            <h4 class="flex ml-2 pl-2"><i class="flex align-items-center mr-2 pi pi-desktop"></i>Aplicación móvil para gestionar y calificar la participación de los trabajadores dentro de una empresa</h4>
            <div>
                <ul>
                    <li>Ionic 6</li>
                    <li>Firebase como backend y autenticación</li>
                </ul>
            </div>
        </div>
        <h3 class="subtitle flex p-0"><i class="flex align-items-center mr-2 pi pi-angle-double-right"></i>{{ 'demo.mulesoft-dev' | translate | uppercase }}</h3>
        <div>
            <h4 class="flex ml-2 pl-2"><i class="flex align-items-center mr-2 pi pi-cog"></i>Integracion de aplicaciones de calculo de deuda y comisiones de la empresa Megacable, Mexico</h4>
            <div>
                <ul>
                    <li>Mulesoft como bus de integración a través de APIs</li>
                    <li>Integraciones con Salesforce</li>
                    <li>Manejo de políticas de seguridad en las APIS</li>
                </ul>
            </div>
            <h4 class="flex ml-2 pl-2"><i class="flex align-items-center mr-2 pi pi-cog"></i>Integración de aplicaciones para mercados de Iberia, Norte América, Latinoamerica y Asia Pacífico de la empresa Brenntag</h4>
            <div>
                <ul>
                    <li>Mulesoft como bus de integración a través de APIs</li>
                    <li>Integraciones con servicios de AWS</li>
                    <li>Integraciones con Salesforce</li>
                    <li>Integraciones con Kafka</li>
                    <li>Uso de Grafana Loki para la visualización de los datos</li>
                    <li>Arquitectura API-Led Connectivity</li>
                    <li>Participación en la creacion del proceso de CICD para las APIS</li>
                    <li>Manejo de políticas de seguridad en las APIS</li>
                </ul>
            </div>
        </div>
        <h3 class="subtitle flex p-0"><i class="flex align-items-center mr-2 pi pi-angle-double-right"></i>{{ 'demo.personal-projects' | translate | uppercase }}</h3>
        
        <h3 class="subtitle flex p-0"><i class="flex align-items-center mr-2 pi pi-angle-double-right"></i>{{ 'demo.certifications' | translate | uppercase }}</h3>
        <div class="ml-2 pl-2">
            <h4 class="flex mb-0 pb-0"><i class="flex align-items-center mr-2 pi pi-book"></i> UNIVERSIDAD CATÓLICA ANDRÉS BELLO</h4>
            <div class="ml-2 pl-2">Título en Ingeniería Informática</div>
            <h4 class="flex mb-0 pb-0"><i class="flex align-items-center mr-2 pi pi-book"></i>AWS SOLUTIONS ARCHITECT</h4>
            <div class="ml-2 pl-2">Certificación de Amazon Web Services</div>
            <h4 class="flex mb-0 pb-0"><i class="flex align-items-center mr-2 pi pi-book"></i>AWS CLOUD PRACTITIONER</h4>
            <div class="ml-2 pl-2">Certificación de Amazon Web Services</div>
            <h4 class="flex mb-0 pb-0"><i class="flex align-items-center mr-2 pi pi-book"></i>MULESOFT DEVELOPER</h4>
            <div class="ml-2 pl-2">Certificación de Mulesoft</div>
            <h4 class="flex mb-0 pb-0"><i class="flex align-items-center mr-2 pi pi-book"></i>MÁSTER JAVASCRIPT</h4>
            <div class="ml-2 pl-2">Certificación de Udemy</div>
            <h4 class="flex mb-0 pb-0"><i class="flex align-items-center mr-2 pi pi-book"></i>IONIC 6+</h4>
            <div class="ml-2 pl-2 mb-2">Certificación de Udemy</div> 
        </div>
    </div>
</p-dialog>