.transition:hover {
    transform: scale(1.05);
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
    #mobile { display: grid; }  /* show it on small screens */
    #laptop { display: none; }   /* hide it elsewhere */
}

@media only screen and (max-width: 425px) {
    #mobile { display: grid; }  /* show it on small screens */
    #laptop { display: none; }   /* hide it elsewhere */
}

@media only screen and (min-width: 426px) and (max-width: 768px) {
    #mobile { display: none; }  /* show it on small screens */
    #laptop { display: grid; }   /* hide it elsewhere */
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    #mobile { display: none; }  /* show it on small screens */
    #laptop { display: grid; }   /* hide it elsewhere */
}

@media only screen and (min-width: 1025px) and (max-width: 1200px) {
    #mobile { display: none; }  /* show it on small screens */
    #laptop { display: grid; }   /* hide it elsewhere */
}

@media only screen and (min-width: 1201px) {
    #mobile { display: none; }  /* show it on small screens */
    #laptop { display: grid; }   /* hide it elsewhere */
}